<!-- Footer Start -->
<div class="container-fluid bg-dark text-secondary mt-5 pt-5">
    <div class="row px-xl-5 pt-5">
        <!-- Contact Info -->
        <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
            <h5 class="text-secondary text-uppercase mb-4">Get In Touch</h5>
            <p class="mb-4">We're always happy to hear from you! If you have any questions, feedback, or just want to
                say hello,please don't hesitate to reach out to us. You can contact us by phone, email, or through our website's
                contact form,and we'll do our best to get back to you as soon as possible.</p>
            <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>140 Street, Madina, KSA</p>
            <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@MultiShop.com</p>
            <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+014 345 67890</p>
        </div>
        <!-- End of Contact Info -->
        <div class="col-lg-8 col-md-12">
            <div class="row">
                <!-- Navigation Bar -->
                <div class="col-md-4 mb-5">
                    <h5 class="text-secondary text-uppercase mb-4">Quick Shop</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-secondary mb-2" href="{% url 'page:home' %}"><i class="fa fa-angle-right mr-2"></i>Home</a>
                        <a class="text-secondary mb-2" href="{% url 'borrowItems' %}"><i class="fa fa-angle-right mr-2"></i>Borrow items</a>
                        <a class="text-secondary mb-2" href="{% url 'giftItems' %}"><i class="fa fa-angle-right mr-2"></i>Gift items</a>
                        <a class="text-secondary mb-2" href="{% url 'swapItems' %}"><i class="fa fa-angle-right mr-2"></i>Swap items</a>
                        <a class="text-secondary mb-2" href="{% url 'reward:redeem' %}"><i class="fa fa-angle-right mr-2"></i>Promotion </a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h5 class="text-secondary text-uppercase mb-4">My Account</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-secondary mb-2" href="{% url 'contact' %}"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                        <a class="text-secondary mb-2" href="{% url 'page:about' %}"><i class="fa fa-angle-right mr-2"></i>About As</a>
                        <a class="text-secondary mb-2" href="{% url 'FAQs' %}"><i class="fa fa-angle-right mr-2"></i>FQAs</a>
                        <a class="text-secondary mb-2" href="{% url 'reward:leaderboard' %}"><i class="fa fa-angle-right mr-2"></i>Leader bord</a>
                    </div>
                </div>
                <!-- End of Navigation Bar -->
                <!-- Social Media Accounts -->
                <div class="col-md-4 mb-5">
                    <h5 class="text-secondary text-uppercase mb-4">Social Media Accounts</h5>
                    <p>To stay up-to-date with our latest news and updates, you can subscribe to us on various social
                        media platforms</p>
                    <h6 class="text-secondary text-uppercase mt-4 mb-3">Follow Us</h6>
                    <div class="d-flex">
                        <a class="btn btn-primary btn-square mr-2" href="https://twitter.com" target="_blank"><i
                                class="fab fa-twitter"></i></a>
                        <a class="btn btn-primary btn-square mr-2" href="https://ar-ar.facebook.com" target="_blank"><i
                                class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-primary btn-square mr-2" href="https://www.linkedin.com" target="_blank"><i
                                class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-primary btn-square" href="https://www.instagram.com" target="_blank"><i
                                class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <!-- End of Social Media Accounts -->
            </div>
        </div>
    </div>
    <!-- Copyright  -->
    <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
        <div class="col-md-6 px-xl-0">
            <p class="mb-md-0 text-center text-md-left text-secondary">
                &copy; All Rights Reserved. Developed by
                <a class="text-primary"> Sana, Salwa, Samah, Fatima and Shatha</a>
            </p>
        </div>
    </div>
    <!-- End of Copyright  -->
</div>
<!-- Footer End -->
