<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
    
        <title>Contact Us</title>
    <!-- Contact Start -->
    <div class="container-fluid">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Contact Us </span></h2>
        <div class="row px-xl-5">
            <div class="col-lg-7 mb-5">
                <div class="contact-form bg-light p-30">
                    <div id="success"></div>
                    <form name="sentMessage" id="contactForm" action="{% url 'contact' %}" method="POST" novalidate="novalidate">
                        {% csrf_token %}
                        <div class="control-group">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required="required"
                                data-validation-required-message="Please enter your name" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Your Email" required="required"
                                data-validation-required-message="Please enter your email" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required="required"
                                data-validation-required-message="Please enter a subject" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <textarea class="form-control" rows="8" id="message" name="message" placeholder="Message" required="required"
                                data-validation-required-message="Please enter your message"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div>
                            <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-5 mb-5">
                <div class="contact-info bg-light p-30 mb-30 margin-top: 10px">
                    <p class="mb-2 contact-info-left"><i class="fa fa-map-marker-alt text-primary mr-3"></i>1460 Street,Madina,KSA</p>
                    <p class="mb-2 contact-info-left"><i class="fa fa-envelope text-primary mr-3"></i> info@Multishop.com </p>
                    <p class="mb-2 contact-info-left"><i class="fa fa-phone-alt text-primary mr-3"></i> +014 345 67890</p>
                    <iframe style="width: 100%; height: 250px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2887.2596850920113!2d39.60854656427177!3d24.450935176198264!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15a909a2018e0efb%3A0xeb1f4b71aae2e456!2sMedina%2C%20Al%20Madinah%2C%20Saudi%20Arabia!5e0!3m2!1sen!2sus!4v1621447023123!5m2!1sen!2sus"
                        frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->

{% endblock %}